.my-courses{
    padding:35px;
    background:#f8fafc;
    min-height:100vh;
}

.page-header{
    margin-bottom:35px;
}

.page-header h1{
    font-size:2rem;
    color:#0f172a;
    margin-bottom:8px;
}

.page-header p{
    color:#64748b;
}

.my-course-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(350px,1fr));
    gap:30px;
}

.my-course-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 12px 30px rgba(15,23,42,.08);
    transition:.3s;
}

.my-course-card:hover{
    transform:translateY(-6px);
}

.my-course-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.my-course-content{
    padding:22px;
}

.category{
    display:inline-block;
    background:#dbeafe;
    color:#2563eb;
    padding:6px 14px;
    border-radius:25px;
    font-size:13px;
    font-weight:600;
    margin-bottom:15px;
}

.my-course-content h2{
    margin-bottom:20px;
    color:#0f172a;
}

.course-meta{
    display:flex;
    flex-direction:column;
    gap:10px;
    color:#475569;
    margin-bottom:22px;
}

.course-meta span{
    display:flex;
    align-items:center;
    gap:10px;
}

.progress-section{
    margin-bottom:20px;
}

.progress-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
    font-weight:600;
}

.progress-bar{
    width:100%;
    height:10px;
    background:#e2e8f0;
    border-radius:30px;
    overflow:hidden;
}

.progress-fill{
    height:100%;
    background:#2563eb;
    border-radius:30px;
    transition:.4s;
}

.status-row{
    margin-bottom:20px;
}

.status{
    display:inline-block;
    padding:8px 16px;
    border-radius:20px;
    background:#dcfce7;
    color:#166534;
    font-size:13px;
    font-weight:600;
}

.continue-btn{
    width:100%;
    border:none;
    background:#2563eb;
    color:white;
    padding:14px;
    border-radius:12px;
    cursor:pointer;
    font-size:15px;
    font-weight:600;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    transition:.3s;
}

.continue-btn:hover{
    background:#1d4ed8;
}

.loading{
    text-align:center;
    margin-top:100px;
}

.empty-state{
    text-align:center;
    margin-top:90px;
}

.empty-icon{
    font-size:70px;
    color:#2563eb;
    margin-bottom:20px;
}

.empty-state h2{
    color:#0f172a;
    margin-bottom:10px;
}

.empty-state p{
    color:#64748b;
}

@media(max-width:768px){

.my-courses{
    padding:20px;
}

.my-course-grid{
    grid-template-columns:1fr;
}

}